* {
  margin: 0px;
  padding: 0px;
  background-color: rgb(117, 121, 133);
  color: white;
  font-family: "Saira Condensed", sans-serif;
}

.app_name {
  text-align: center;
  padding-top: 50px;
  font-size: 55px;
}

a {
  text-decoration: none;
}

footer {
  margin-top: 50px;
  text-align: center;
}

span {
  padding-left: 35px;
}
